
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem Vindo a Minion Store</h1>
    <p>
        Infelizmente, nossa loja ainda não está disponível, mas avisaremos assim que os produtos estiverem a venda!
    </p>
    <p>
    </p>
    <p>Atenciosamente,
        Minion Store.</p>
  </body>
</html>